body {
    background: linear-gradient(darkblue, lightblue)
}

#header {
    top: 0;
    display: flex;
}

.add-new-task {
    margin-bottom: 2vh;
}
.new-task {
    min-width: 3vw;
    min-height: 1.5vh;
    width: 15vw;
    margin-right: 2vw;
    height: 2vh;
    border: 1px solid black;
    border-radius: 1vw 1vw 1vw 1vw;
    padding: 1vh;
}

.add-new-task-btn {
    background-color: rgb(185, 26, 185);
    color: white;
    font-weight: bold;
    border: 0px;
    padding: 1.3vh;
    border-radius: 1vw 1vw 1vw 1vw;
    cursor: pointer;
}

ol {
    padding: 0px;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 1vw;
    margin-bottom: 1vh;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
}

.task-button {
    font-weight: bold;
    border: none;
    margin-right: 1vw;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.move-task {
    background-color: blue;
    border: none;
    margin-right: 1vw;
}

.delete-task {
    background-color: red;
    margin-right: 1vw;
    margin-left: 2vw;
}