:root {
    font-size: 16px;
    --bg-primary: rgb(244, 247, 254);
    --bg-secondary: rgb(48, 60, 115);
    --text-primary: rgb(48, 60, 115);
    --text-secondary: rgb(244, 247, 254);
    --transition-speed: 200ms;
}

textarea {
    resize: none;
}

body {
    color: var(--text-primary);
    margin: 0;
    margin-right: 3em;
    padding: 0;
    height: 100vh;
}

main {
    margin-left: 5rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width var(--transition-speed) ease;
    border-right: var(--text-primary);
    border-right: 1px solid var(--text-primary);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-user_text {
    text-align: center;
}

.navbar-nav-element {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.navbar-nav-element:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.navbar-nav-element:last-child {
    margin-top: auto;
    text-decoration: underline;
}

.navbar-nav-element_text {
    display: none;
    margin-left: 1rem;
}

.navbar-nav-element_icon {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .navbar-nav-element_text {
    display: block;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin-bottom: 2rem;
}

.header-logOut {
    border: 1px solid var(--text-primary);
    border-radius: 25px ;
    padding: 0.8rem;
}

main {
    margin-left: 8rem;
    display: inline-block;
}

