:root {
    color: black;
}

.container {
    /*height: 50vh;
    width: 60vw;*/
    border-radius: 20px 20px 20px 20px;
    padding: 0.5vw;
}

.new-input_inputfield {
    border: 1px solid lightgrey;
    margin-bottom: 2vh;
    padding: 0.3vw;
    width: auto;
}

.new-input_submitBtn {
    background-color: blue;
    padding: 0.3vw;
    font-size: 1.7vh;
    box-shadow: none;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    border: 0px;
    color: white;
    margin-left: 2vw;
}

thead {
    background-color: lightgrey;
}

tr:nth-child(even) {
    background-color: lightgrey;
    border-collapse: collapse;
}

td {
    padding: 0.5vh;
    margin-left: auto;
    margin-right: auto;
}

.created-notes-table_data_del {
    background-color: red;
    margin-left: 0.2vh;
    color: white;
}

.created-notes-table_data_edit {
    background-color: rgb(118, 186, 209);
}

.table-button {
    padding: 0.3vw;
    font-size: 1.7vh;
    box-shadow: none;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    border: 0px;
    color: white;
}