:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.login-form {
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    height: 18rem; /*30vh*/
    width: 20rem; /*20vw*/
    margin: auto;
    margin-top: 25vh;
    padding: 2rem;
    min-width: 20rem;
    min-height: 18rem;
}


.login-form-title {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 2.5vh;
    color: white;
}

input {
    width: 12vw;
    height: 2vh;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    background-color: white;
    color: black;
}

.password-input-field {
    position: relative;
    margin-top: 10px;
}

.show-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    margin-left: 1rem;
}

.login-form-submitButton {
    width: 15rem;
    height: 2.5rem;
    min-width: 15rem;
    min-height: 2.5rem;
    color: white;
    background-color: #646cff;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 3vh;
    font-size: 1.5rem;
}

.register {
    color: aliceblue;
    font-size: 1rem;
}