body {
    background-color: var(--color-primary);
}

.register-form {
    border: 1px solid var(--color-secondary);
    border-radius: 20px 20px 20px 20px;
    height: 24rem; /*30vh*/
    width: 20rem; /*20vw*/
    margin: auto;
    margin-top: 25vh;
    padding: 2rem;
    min-width: 20rem;
    min-height: 18rem;
}


.register-form-title {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 2.5vh;
    color: var(--color-secondary);
}

input {
    width: 12vw;
    height: 2vh;
    border: 1px solid var(--color-secondary);
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    margin: 0.2em;
}

.register-form-department {
    padding-left: 10px;
    width: 12vw;
    margin: 0.2em;
    border: 1px solid var(--color-secondary);
    border-radius: 5px 5px 5px 5px;
    color: black;
}

.register-form-department_option {
    width: 12vw;
    height: 2vh;
    
}


.show-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    margin-left: 1rem;
}

.register-form-submitButton {
    width: 15rem;
    height: 2.5rem;
    min-width: 15rem;
    min-height: 2.5rem;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    cursor: pointer;
    border: 1px solid var(--color-secondary);
    border-radius: 20px 20px 20px 20px;
    margin-top: 3vh;
    font-size: 1.5rem;
}

.login {
    color: var(--color-secondary);
    font-size: 1rem;
}

/*styles for the popup windows*/
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    color: black;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}