:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.register-container {
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    height: 30vh;
    width: 20vw;
    min-height: 15vh;
    min-width: 10vw;
}

.register-form-title {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 2.5vh;
    color: white;
}

input {
    width: 12vw;
    height: 2vh;
    border-radius: 5px 5px 5px 5px;
    padding: 0.2vw;
}

.register-form-email {
    position: relative;
    margin-top: 10px;
}

.password-input-field {
    position: relative;
    margin-top: 10px;
}

.show-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.register-form-submitButton {
    width: 12vw;
    height: 4vh;
    color: white;
    background-color: #646cff;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 3vh;
    font-size: 1.5rem;
}

.register-form-link {
    color: rgb(244, 247, 254);
}