.popup-open {
    overflow: hidden;
}
  
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    padding: 20px;
    border: 1px solid #ccc;
    z-index:  
   9999;
}
  
.popup-open .popup {
    display: flex;
}

.tickets {
    border: 1px solid black;
}
