:root {
    font-size: 16px;
    line-break: auto;
}

.ticket-titles {
    text-decoration: underline;
    margin-bottom: 5px;
}

.ticket-textarea {
    color: var(--color-secondary);
    background: none;
    padding: 5px;
}

.ticket-actions {
    margin-right: 30px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.popup-open {
    overflow: hidden;
}
  
.popup {
    position: fixed;
    width: 50vw;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    padding: 20px;
    border: 1px solid #ccc;
    z-index:  
   9999;
}

.popup-open_email {
    width: 100%;
}

.popup-open .popup {
    display: block;
}

.solve-solution {
    border: 1px solid var(--color-secondary);
    width: 100%;
}

.popup-open_email {
    border: 1px solid var(--color-secondary);
    padding: 0.5rem;
}

.assignment-assign-btn {
    float: left;
  }
  
  .assignment-close-btn {
    float: right;
    text-decoration: underline;
  }

.comment-submit-btn {
    margin-bottom: 1rem;
}

.commentPopup-existing-comments {
    display: flex; /* Make the li container a flexbox */
    border-bottom: 2px solid rgba(48, 60, 115, 0.8);
}
  
.commentData {
    display: inline-block; /* Set inline-block for textarea */
    margin-right: auto;
    margin-bottom: auto;
}
.commentData:last-child{
    border: none;
}

.close-comment-popup {
    margin-top: 1rem;
    text-decoration: underline;
}

.solve-ticket-submit-btn {
    float: left;
}

.solve-ticket-close-btn {
    float: right;
    text-decoration: underline;
}