:root {
    font-size: 16px;
    --color-primary: rgb(244, 247, 254);
    --color-secondary: rgb(48, 60, 115);
}

.ticket-actions {
    margin-right: 30px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.popup-open {
    overflow: hidden;
}
  
.popup {
    position: fixed;
    width: 50vw;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index:  
   9999;
}

.popup-open_email {
    width: 100%;
}

.popup-open .popup {
    display: block;
}

.popup-open_email {
    border: 1px solid var(--color-secondary);
    padding: 0.5rem;
}

.comment-submit-btn {
    margin-bottom: 1rem;
}

.commentPopup-existing-comments {
    display: flex; /* Make the li container a flexbox */
}
  
.commentData {
    display: inline-block; /* Set inline-block for textarea */
    border-right: 2px solid var(--color-secondary);
    margin-right: 10px;
    padding-right: 10px;
}
.commentData:last-child{
    border: none;
}

.close-comment-popup {
    margin-top: 1rem;
    text-decoration: underline;
}